/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.home {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F2F2F2;
  overflow: scroll;
}

.home .search-container .row-height {
  height: 5vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.home .search-container .row-height .col-height {
  height: 5vh;
}

.home .search-container .row-height .col-1.col-height {
  vertical-align: center;
}

/* .home .search-container .row-height .col-2 {
  height: 0px;
} */

.home .search-container .row-height .col-3.col-height {
  display: flex;
  /* justify-content: flex-end;
  align-items: flex-end; */
  /* min-width: 393px; */
}

.search {
  height: 100%;
  display: flex;
}

.search .container {
  padding-left: 0px;
  padding-right: 0px;
}


.dropdown {
  /* width: 15vw; */
  /* padding-inline: 1vw; */
}

#dropdown-basic-button {
  color: black;
  background-color: white;
  border-color: #ced4da;
  justify-content: flex-start;
  align-items: flex-start;
}


.toggle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  /* width: 15vw; */
}

.toggle .text {
  
}

.toggle .text.left {
  padding-right: 0.5vw;
}

.toggle .text.right {
  padding-left: 0.5vw;
}


.react-toggle--checked .react-toggle-track {
  background-color: #4D4D4D !important;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000 !important;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #4D4D4D !important;
}


.card {
	box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.15);
  
}

.card .img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

.card .text-bold {
  font-weight: bold;
}

.table {
}

.table .rounded-left {
  border-top-left-radius: 15px;
}

.table .rounded-right {
  border-top-right-radius: 15px;
}

.table .table-dark {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}

.table .rows {
  justify-content: center;
  align-items: center;
}

.table .rows .currency {
  background-color: rgba(125, 125, 125, 0.3); 
  font-weight: bold;
  border-radius: 5px;
  width: auto; 
  height: auto; 
  padding: 0.1vh 0.2vw 0.1vh 0.2vw;
  margin-right: 4px;
  font-size: 16px;
}

.table .img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 75px;
}


.navbar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar .text-left {
  font-size: 2vh;
}

.navbar .text-right {
  font-size: 1.5vh;
}

.navbar .container {
  /* padding-left: 5vw;
  padding-right: 5vw; */
}

.navbar .container .icon {
  margin-right: 0.8vw;
  padding-bottom: 0.2vh;
}



